<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxxx.server.mapper.EmployeeRemoveMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xxxx.server.pojo.EmployeeRemove">
        <id column="id" property="id" />
        <result column="eid" property="eid" />
        <result column="afterDepId" property="afterDepId" />
        <result column="afterJobId" property="afterJobId" />
        <result column="removeDate" property="removeDate" />
        <result column="reason" property="reason" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, eid, afterDepId, afterJobId, removeDate, reason, remark
    </sql>

    <select id="getEmployeeRemoveInfosPage" resultType="com.xxxx.server.vo.EmployeeRemoveVO">

        SELECT te.id as eid,te.name as ename,td.name as dname,tp.name as pname,ts.id as sid,ts.name as salaryName
        FROM t_employee te
                 left join t_department td on te.departmentId = td.id
                 left join t_position tp on tp.id = te.posId
                 left join t_salary ts on te.salaryId = ts.id
        <where>
            <if test="ename != null and ename != ''">
                te.name like concat('%',#{ename},'%')
            </if>
        </where>
    </select>

</mapper>
