<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxxx.server.mapper.EmployeeTrainMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xxxx.server.pojo.EmployeeTrain">
        <id column="id" property="id" />
        <result column="eid" property="eid" />
        <result column="trainDate" property="trainDate" />
        <result column="trainContent" property="trainContent" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, eid, trainDate, trainContent, remark
    </sql>

    <select id="getEmployeeTranInfoByPage" resultType="com.xxxx.server.pojo.EmployeeTrain">

        SELECT tet.*,te.name as ename,td.name as deptName from t_employee_train tet
               left join t_employee te on tet.eid = te.id
               left join t_department td on te.departmentId = td.id
        <where>
            <if test="empName != null and empName != ''">
                te.name like concat('%',#{empName},'%')
            </if>
            <if test="deptName != null and deptName != ''">
               and td.name like concat('%',#{deptName},'%')
            </if>
            <if test="startDate != null and endDate != null">
                and tet.trainDate between #{startDate} and #{endDate}
            </if>
        </where>
    </select>

</mapper>
